.contactLinks {
  display: flex;
  gap: 2em;
  margin-left: 0.1em;
}

.contactLinks a {
  display: flex;
  gap: 0.4em;
}

.contactLinks a * {
  margin-top: 0.1em;
}

.skillsList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2.7em;
}
